<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="styles/grid.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/Keypress/keypress.js"></script>
    <script src="js/grid-directive.js"></script>
    <script src="js/grid-cell-directive.js"></script>
    <script src="js/grid-header-cell-directive.js"></script>
    <script src="js/grid-input-reader-directive.js"></script>
    <script src="js/grid-active-cell-directive.js"></script>
    <script src="js/grid-cell-editor-directive.js"></script>
</head>
<body ng-controller="gridDemoController">

<div class="grid" ng-model="data"></div>

<div style="clear: both"></div>

<div ng-repeat="row in data">
    {{ row }}
</div>

<script>
    var app = angular.module('gridDemo', [])
            .directive('grid', gridDirective)
            .directive('gridCell', gridCellDirective)
            .directive('gridHeaderCell', gridHeaderCellDirective)
            .directive('gridActiveCell', gridActiveCellDirective)
            .directive('gridCellEditor', gridCellEditorDirective)
            .directive('gridInputReader', gridInputReaderDirective)
            .controller('gridDemoController', function ($scope) {
                $scope.data = [
                    {name: 'United States', shortName: 'USA', gdp2013: 15724575, population: 318366000},
                    {name: 'China', shortName: 'CHI', gdp2013: 13374017, population: 1365520000},
                    {name: 'India', shortName: 'IND', gdp2013: 4961712, population: 12465000000},
                    {name: 'Japan', shortName: 'JPN', gdp2013: 4728865, population: 127090000},
                    {name: 'Germany', shortName: 'JPN', gdp2013: 3226627, population: 80716000},
                ];

                $scope.gridOptions = {
                    columnDefs: [
                        {field: 'name', displayName: 'Country', width: 200},
                        {field: 'gdp2013', displayName: 'GPD (2013)', width: 100, renderer: function (value, row, rowIndex, colIndex) {
                            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }},
                        {field: 'population', displayName: 'Population'}
                    ]
                }
            });
    angular.bootstrap(document, ['gridDemo']);
</script>

</body>
</html>