<!doctype html>
<html>
<head>
    <title>connect-grid demo</title>

    <link rel="stylesheet" href="../styles/grid.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- build:js:bundle build.js -->
    <script src="../bower_components/Keypress/keypress.js"></script>
    <script src="../module.js"></script>
    <script src="../js/grid-directive.js"></script>
    <script src="../js/grid-row-directive.js"></script>
    <script src="../js/grid-cell-directive.js"></script>
    <script src="../js/grid-header-cell-directive.js"></script>
    <script src="../js/grid-input-parser-service.js"></script>
    <script src="../js/grid-input-reader-directive.js"></script>
    <script src="../js/grid-active-cell-directive.js"></script>
    <script src="../js/grid-active-cell-hint-directive.js"></script>
    <script src="../js/grid-cell-editor-directive.js"></script>
    <script src="../js/grid-cell-editor-simple-textarea-directive.js"></script>
    <script src="../js/grid-scroll-tracker-directive.js"></script>
    <script src="../js/grid-viewport-size-tracker-directive.js"></script>
    <script src="../js/grid-virtual-pagination-directive.js"></script>
    <!-- /build -->

</head>
<body ng-controller="gridDemoController">
<connect-grid ng-model="gridData" grid-options="gridOptions"></connect-grid>
<div>
    <button ng-click="markAllRowsAsChanged()">mark all rows as changed</button>
</div>
<div>
    Delete row #:
    <input ng-model="rowToDelete" />
    <button ng-click="deleteRow()">Delete</button>
</div>
<div>
    <button ng-click="addRow()">Add new row</button>
    at index:
    <input ng-model="indexToAddRowAt" />
</div>
<div>
    <button ng-click="addRows()">Add 5 new rows</button>
    at index:
    <input ng-model="indexToAddRowAt" />
</div>


<script type="text/ng-template" id="partials/dummy-hint.html">
    <div style="background-color: lightyellow; padding: 5px; border: 1px solid black; margin-top: 3px; margin-left: 5px; width: 200px; box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); border-radius: 4px;">
        test hint
    </div>
</script>
<script>
    var numberOfRows = 600;
    var numberOfColumns = 6;

    var app = angular.module('gridDemo', ['connect-grid'])
            .controller('gridDemoController', ['$scope', '$timeout',
                            function ($scope, $timeout) {
                                var columns = [];

                                _.each(_.range(0, numberOfColumns), function (i) {
                                    columns.push({
                                        field: 'column-' + i,
                                        width: 195
                                    })
                                });

                                _.extend(columns[0], {
                                    renderer: function () {
//                                        console.log('custom render', arguments);
                                        return 'Custom render';
                                    },
                                    isHintVisible: function (/*v, obj, row, col*/) {
                                        console.log('is hint visible');
                                        return true;
                                    },
                                    hintTemplateSrc: function () {
                                        return 'partials/dummy-hint.html';
                                    }
                                });

                                $scope.gridData = [];
                                $scope.gridOptions = {
                                    maxWidth: 1400,
                                    maxHeight: 600,
                                    virtualPagination: {
                                        screenMultiplier: 3,
                                        viewportBufferZoneSizePx: 100
                                    },
                                    columnDefs: columns,
                                    filterRows: function (row, index, scope) {
                                        return !!(index > 0 && index < 550);
                                    },
                                    onCellValueChange    : function (object, changedColumnName, newVal, oldVal) {
                                        $timeout(function () {
                                            object[changedColumnName] = newVal + ' (confirmed change)'
                                        }, 2000);
                                    }
                                };

                                _.each(_.range(0, numberOfRows), function (i) {
                                    var obj = {};

                                    _.each(columns, function (col) {
                                        obj[col.field] = col.field + '-' + '-' + i
                                    });

                                    $scope.gridData.push(obj);
                                });

                                $scope.markAllRowsAsChanged = function () {
                                    $scope.$broadcast('grid.mark-all-rows-as-changed', { collection: $scope.gridData });
                                };

                                $scope.rowToDelete = 0;
                                $scope.indexToAddRowAt = 1000;

                                $scope.deleteRow = function () {
                                    var row = $scope.gridData[$scope.rowToDelete];
                                    $scope.$broadcast('grid.delete-row', { collection: $scope.gridData, obj: row })
                                };

                                $scope.addRow = function () {
                                    var obj = { 'column-1': 'test'};
                                    $scope.$broadcast('grid.add-rows', { collection: $scope.gridData, objects: [obj], index: $scope.indexToAddRowAt });
                                    $timeout(function () {
                                        $scope.$broadcast('grid.scroll-obj-into-view', {obj: obj});
                                        $scope.$broadcast('grid.start-cell-edit', { collection: $scope.gridData, obj: obj, field: 'column-1' });
                                    });
                                };

                                $scope.addRows = function () {
                                    var arr = [
                                        { 'column-1': 'test 1'},
                                        { 'column-1': 'test 2'},
                                        { 'column-1': 'test 3'},
                                        { 'column-1': 'test 4'},
                                        { 'column-1': 'test 5'}
                                    ];
                                    $scope.$broadcast('grid.add-rows', { collection: $scope.gridData, objects: arr, index: $scope.indexToAddRowAt });
                                    $timeout(function () {
                                        $scope.$broadcast('grid.scroll-obj-into-view', {obj: arr[5]});
                                    });
                                };
                            }
                        ]);

    angular.bootstrap(document, ['gridDemo']);
</script>
</body>
</html>