.grid, .grid * {
    box-sizing: border-box;
}
.grid {
    border-top: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    float: left;
    position: relative;
}
.grid__row {
    clear: left;
}
.grid__cell {
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
    float: left;
}
.grid__cell__content {
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}
.grid__active-cell {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 75px;
    height: 20px;
    border: 2px solid #378FFB;
}